{% load static %}
<header class="border-bottom bg-white">
  <nav class="navbar navbar-expand-md navbar-light container py-1">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
      <img src="{% static 'images/logo2.png' %}" alt="Plastix Welding Logo" class="site-logo me-2">
      <span class="site-name" style="color: #666666;">Huapai Plastic Welding</span>
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-4">
        <li class="nav-item">
          <a class="nav-link active fw-bold" href="{% url 'index' %}" style="font-size: 1.2rem;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services' %}" style="font-size: 1.2rem;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}" style="font-size: 1.2rem;">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}#contact" style="font-size: 1.2rem;">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
