{% load static %}
<header class="border-bottom bg-white">
  <nav class="navbar navbar-expand-md navbar-light container py-3">
    <div>
      <div class="site-title text-dark mb-0">
        <img src="{% static 'images/logo2.png' %}" alt="Plastix Welding Logo" class="site-logo" width="150px" height="auto">
        <span class="site-name" style="color: #666666">Huapai Plastic Welding</span>
      </div>
      {% comment %} <div class="site-tagline small text-muted">If it’s plastic, I can fix it!</div> {% endcomment %}
    </div>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link active fw-bold" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>